* {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
#item-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#item-details {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  /* outline: 1px solid black; */
  border-radius: 8px;
}
#item-texts {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  padding-left: 36px;
}
#item-image {
  width: 400px;
  height: 400px;
  border-radius: 8px;
  object-fit: contain;
}
#buttons {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#edit-button {
  background-color: rgb(3, 142, 72);
  color: white;
  padding: 12px 20px;
  margin-inline: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* align-self: flex-start; */
}
#delete-button {
  background-color: rgb(117, 0, 29);
  color: white;
  padding: 12px 20px;
  margin-inline: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* align-self: flex-end; */
}
#bid-button {
  background-color: rgb(13, 146, 208);
  color: white;
  padding: 12px 20px;
  margin-inline: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  /* align-self: flex-end; */
}

#edit-button:hover {
  background-color: rgb(44, 181, 112);
}
#delete-button:hover {
  background-color: rgb(184, 17, 59);
}
#bid-button:hover {
  background-color: rgb(51, 193, 214);
}
